[Unit]
Description=Carrier pigeon modem software
Documentation=man:pigeond(1)
Wants=devmon.service

[Service]
ExecStart=/usr/bin/pigeond
EnvironmentFile=-/etc/default/pigeond
Restart=on-failure

[Install]
WantedBy=multi-user.target
